.searchBarIcon--searchbar__mobile :global(.vtex-store-components-3-x-searchIcon--searchbar__mobile) {
    height: 24px;
    width: 24px;
}

.searchBarInnerContainer--searchbar__mobile {
    margin-top: -10px;
}