 .flexRow--header__tablet--main-down {
     background: #fd611a;
     color: rgba(0, 0, 0, .87);
     padding: 22px;
 }
 
 .flexRowContent--header__tablet--main-top :global(.vtex-store-components-3-x-logoImage) {
     max-width: 87%;
     /*validar*/
 }
 
 .flexRowContent--header__tablet--main-down :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
     max-width: 800px;
     width: 100% !important;
 }
 /* .flexRowContent--header__desktop--main-down:global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    max-width: 900px;
    width: 100%;
} */