 .menuItem--drawer__item--mobile {
     background: #fd611a;
     border-bottom: 1px solid #ffffff;
     padding-block: 10px;
 }
 
 .menuItem--drawer__item--mobile__marcas {
     background: #fd611a;
     border-bottom: 1px solid #ffffff;
     margin-bottom: 12px;
     padding-block: 10px;
 }
 
 .styledLinkContainer--drawer__item--mobile,
 .styledLinkContainer--drawer__item--mobile__marcas {
     margin-inline: 18px;
 }
 
 .styledLinkContent--drawer__item--mobile,
 .styledLinkContent--drawer__item--mobile__marcas {
     color: #ffffff;
     font-family: Montserrat-Medium, sans-serif;
 }
 
 :global(.vtex-menu-2-x-styledLinkContent) {
     color: #ffffff;
 }