   .paragraph--title__text--banner--phone {
       color: #fff;
       font-family: "Montserrat-Bold";
       font-size: 16px;
       font-weight: 800;
       line-height: 1.2!important;
       margin-bottom: 0;
       text-shadow: 1px 3px 10px #000;
       text-transform: uppercase;
   }
   
   .container--title__text--banner--phone {
       margin-bottom: 0.5em;
       margin-top: 0.5em;
       padding-left: 5px;
       padding-right: 3px;
       position: relative;
   }
   
   .wrapper--title__text--banner--phone {
       left: 22px;
       margin-top: 7px;
       padding-left: 0;
       padding-right: 0;
       position: absolute;
       width: 565px;
       z-index: 1;
   }