.listContainer--contenedor__product--list--desktop {
    justify-content: left !important;
    margin-bottom: 25px !important;
}

.contentItem--contenedor__contenido-specification--desktop :global(.vtex-store-components-3-x-specificationsTableContainer) {
    margin-left: 0.4em;
    padding: 0;
}

.contentItem--contenido--reviewsratings--desktop :global(.vtex-reviews-and-ratings-3-x-container) {
    margin-left: 0.4em;
    padding: 0;
}

.contentContainer--contenedor__contenido-tabs--desktop {
    margin-left: 0.4em;
    padding: 0;
}

.contentItem--contenedor__contenido-specification--desktop :global(.vtex-store-components-3-x-specificationsTablePropertyHeading) {
    border-bottom: 1px solid #fd611a;
    border-top: 1px solid #fd611a;
}

.contentItem--contenedor__contenido-specification--desktop :global(.vtex-store-components-3-x-specificationsTableSpecificationHeading) {
    border-bottom: 1px solid #fd611a;
    border-top: 1px solid #fd611a;
}

.contentItem--contenedor__contenido-specification--desktop :global(.vtex-store-components-3-x-specificationItemProperty) {
    border-bottom: 1px solid #fd611a;
}

.contentItem--contenedor__contenido-specification--desktop :global(.vtex-store-components-3-x-specificationItemSpecifications) {
    border-bottom: 1px solid #fd611a;
}

.contentContainer--contenedor__contenido-tabs--desktop :global(.vtex-reviews-and-ratings-3-x-stars) {
    color: #Fd611a;
}

.contentContainer--contenedor__contenido-tabs--desktop :global(.vtex__icon-caret-down) {
    color: #Fd611a;
}

.contentContainer--contenedor__contenido-tabs--desktop :global(.vtex__icon-caret-up) {
    color: #Fd611a;
}

.contentContainer--contenedor__contenido-tabs--desktop :global(.vtex-store-components-3-x-showMoreButton) {
    background-color: #fd611a;
    border: none;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    color: #fff;
    font-family: "Montserrat-Medium", sans-serif;
    font-size: 12px;
    font-weight: 500;
    min-height: 36px;
}