.flexRow--header__desktop--main-top {
    padding: 10px 0;
}


/*Login*/

.flexRowContent--login__section {
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 4px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    cursor: pointer;
    height: 36px;
    justify-content: center;
    white-space: nowrap;
    width: 173px;
}