.searchBarContainer :global(.vtex-input-prefix__group) {
    height: 49px;
}

.autoCompleteOuterContainer--searchbar__mobile :global(.vtex-input-prefix__group) {
    margin: 0 auto;
    margin-top: -24px;
    width: 87%;
}