  .paragraph--product--title {
      border-bottom: 2px solid #7a7a7a;
      color: #4e4d4d;
      font-family: Eurostile;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: .18px;
      line-height: 20px;
      margin-bottom: 10px;
      margin-right: 4rem;
      margin-top: 21px;
      padding-bottom: 10px;
      text-transform: uppercase;
      width: 100%;
  }
  
  .wrapper--product--title {
      margin: 15px 0;
      width: 100%;
  }
  
  @media (max-width: 1600px) {
      .wrapper--product--title {
          margin: 15px auto;
          width: 95%;
      }
  }
  
  @media (max-width: 1340px) {
      .wrapper--product--title {
          margin: 15px auto;
          width: 91.66%;
      }
  }