  .paragraph--title__text--banner {
      color: #fff;
      font-family: "Montserrat-Bold";
      font-size: 26px;
      font-weight: 800;
      line-height: 1.2!important;
      margin-bottom: 0;
      text-shadow: 1px 3px 10px #000;
      text-transform: uppercase;
  }
  
  .container--title__text--banner {
      margin-bottom: 0.5em;
      margin-top: 0.5em;
      padding-left: 5px;
      padding-right: 3px;
      position: relative;
  }
  
  .wrapper--title__text--banner {
      bottom: -173px;
      left: 15px;
      padding-left: 0;
      padding-right: 0;
      position: absolute;
      width: 565px;
      z-index: 1;
  }