 .container :global(.vtex-button) {
     /*Validar/borrar*/
     background-color: var(--secondary-color);
     box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
     white-space: nowrap;
     width: 173px;
 }
 
 .container :global(.vtex-login-2-x-label) {
     color: #fff;
     display: block;
     font-family: "Montserrat-Medium";
     font-size: 14px;
     font-weight: 500;
 }
 
 .container :global(.vtex-login-2-x-profileIcon) {
     /*Validar/borrar*/
     color: #fff;
     fill: currentColor;
     height: 24px;
     margin-right: -16px;
     width: 24px
 }
 
 .container :global(.vtex-login-2-x-profile) {
     color: #fff;
     display: block;
     font-family: "Montserrat-Medium";
     font-size: 14px;
     font-weight: 500;
     margin-left: 5px;
 }
 
 .content--loginOptions :global(.vtex-button),
 .contentForm :global(.vtex-button) {
     background: #fd611a;
     border: none;
     color: #fff;
 }
 
 .contentForm :global(.vtex-login-2-x-button) {
     background: #fd611a;
     border: none;
     color: #fff;
     /*  color: #000;
     display: block;
     font-family: 'Montserrat-Medium', sans-serif;
     font-weight: 500;
     text-align: center; */
 }